@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.hover-rotate {
		@apply hover:rotate-[360deg] duration-300 transition-all cursor-pointer
	}
	.hover-duration{
		@apply hover:opacity-70 duration-300
	}
}

.loader {
	border-top-color: rgb(59 130 246 / 1);;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
